<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <add name="QuanLyKhachSanDb"
         connectionString="Data Source=TANDAT;Initial Catalog=QuanLyKhachSan;User ID=sa;Password=123;TrustServerCertificate=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>